In [2]:
#DATA EXPLORATION##
#Load Uber.csv dataset
import pandas as pd
data=pd.read_csv(r"C:\Users\K. Lakhan\Downloads\Uber_Drives_2016.csv")
data.head()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

In [3]:
#Display the number of rows and columns
print(data.shape)

(1156, 7)

In [7]:
#Show unique categories in the CATEGORY column

print(data['CATEGORY*'].unique())

['Business' 'Personal' nan]

In [12]:
#Find how many null values are there in PURPOSE
print(data['PURPOSE*'].isnull().sum())

503

In [15]:
#Rename all columns in uppercase
data.columns=data.columns.str.upper()
print(data.columns)

Index(['START_DATE', 'END_DATE', 'CATEGORY*', 'START', 'STOP*', 'MILES*',
       'PURPOSE*'],
      dtype='object')

# DATA FILTERING & TRANSFORMATION

In [17]:
#Display rides where CATEGORY =='Business'.
rides=data[data['CATEGORY*']=='Business']
print(rides)

            START_DATE          END_DATE CATEGORY*             START  \
0       1/1/2016 21:11    1/1/2016 21:17  Business       Fort Pierce
1        1/2/2016 1:25     1/2/2016 1:37  Business       Fort Pierce
2       1/2/2016 20:25    1/2/2016 20:38  Business       Fort Pierce
3       1/5/2016 17:31    1/5/2016 17:45  Business       Fort Pierce
4       1/6/2016 14:42    1/6/2016 15:49  Business       Fort Pierce
...                ...               ...       ...               ...
1150   12/31/2016 1:07   12/31/2016 1:14  Business           Kar?chi
1151  12/31/2016 13:24  12/31/2016 13:42  Business           Kar?chi
1152  12/31/2016 15:03  12/31/2016 15:38  Business  Unknown Location
1153  12/31/2016 21:32  12/31/2016 21:50  Business        Katunayake
1154  12/31/2016 22:08  12/31/2016 23:51  Business           Gampaha

                 STOP*  MILES*         PURPOSE*
0          Fort Pierce     5.1   Meal/Entertain
1          Fort Pierce     5.0              NaN
2          Fort Pierce     4.8  Errand/Supplies
3          Fort Pierce     4.7          Meeting
4      West Palm Beach    63.7   Customer Visit
...                ...     ...              ...
1150           Kar?chi     0.7          Meeting
1151  Unknown Location     3.9   Temporary Site
1152  Unknown Location    16.2          Meeting
1153           Gampaha     6.4   Temporary Site
1154         Ilukwatta    48.2   Temporary Site

[1078 rows x 7 columns]

In [21]:
#Show top 5 rides with the longest distance(Miles)
t5r=data.sort_values(by='MILES*',ascending = False).head(5)
print(t5r)

            START_DATE          END_DATE CATEGORY*             START  \
1155            Totals               NaN       NaN               NaN
269    3/25/2016 16:52   3/25/2016 22:22  Business             Latta
270    3/25/2016 22:54    3/26/2016 1:39  Business      Jacksonville
881   10/30/2016 15:22  10/30/2016 18:23  Business         Asheville
776    9/27/2016 21:01    9/28/2016 2:37  Business  Unknown Location

                 STOP*   MILES*        PURPOSE*
1155               NaN  12204.7             NaN
269       Jacksonville    310.3  Customer Visit
270          Kissimmee    201.0         Meeting
881             Mebane    195.9             NaN
776   Unknown Location    195.6             NaN

In [23]:
#Replace all missing PURPOSEvalues with "NOT SPECIFIED"
data['PURPOSE*'] = data['PURPOSE*'].fillna('NOT SPECIFIED')
print(data['PURPOSE*'])

0        Meal/Entertain
1         NOT SPECIFIED
2       Errand/Supplies
3               Meeting
4        Customer Visit
             ...
1151     Temporary Site
1152            Meeting
1153     Temporary Site
1154     Temporary Site
1155      NOT SPECIFIED
Name: PURPOSE*, Length: 1156, dtype: object

In [51]:
# Create a new column TRIP_DURATION using END_DATE-START_DATE
data['START_DATE'] = pd.to_datetime(data['START_DATE'], errors='coerce')
data['END_DATE'] = pd.to_datetime(data['END_DATE'], errors='coerce')
data['TRIP_DURATION'] = data['END_DATE'] - data['START_DATE']
data = data.dropna(subset=['TRIP_DURATION'])
print(data[['START_DATE', 'END_DATE', 'TRIP_DURATION']].head())

           START_DATE            END_DATE   TRIP_DURATION
0 2016-01-01 21:11:00 2016-01-01 21:17:00 0 days 00:06:00
1 2016-01-02 01:25:00 2016-01-02 01:37:00 0 days 00:12:00
2 2016-01-02 20:25:00 2016-01-02 20:38:00 0 days 00:13:00
3 2016-01-05 17:31:00 2016-01-05 17:45:00 0 days 00:14:00
4 2016-01-06 14:42:00 2016-01-06 15:49:00 0 days 01:07:00

In [49]:
#Sort trips by distance in descending order 
sorted_trips = data.sort_values(by='MILES', ascending=False)
print(sorted_trips[['START', 'STOP', 'MILES']].head())

                 START              STOP    MILES
1155               NaN               NaN  12204.7
269              Latta      Jacksonville    310.3
270       Jacksonville         Kissimmee    201.0
881          Asheville            Mebane    195.9
776   Unknown Location  Unknown Location    195.6